.leave-email-before-paying-popup-container {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: .35;
}

.leave-email-before-paying-popup-subcontainer {
    border-radius: 20px;
}


.leave-email-before-paying-popup-last-moment-header {
    opacity: 0.8;
}

.leave-email-before-paying-popup-email-header {
    opacity: 0.6;
    font-style: italic;
}