.edit-book-bg {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.35);
}

.edit-book-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
    border-radius: 20px;
}

.edit-book-cover {
    max-height: 300px;
}

.edit-book-left-input-group {
}