<div id="edit-book-bg" class="position-fixed d-flex flex-column justify-content-center align-items-center
    edit-book-bg" (click)="dismiss($event)">
<div class="bg-white p-5 edit-book-container">
  <div class="row">
    <div class="col-sm-6 col-12 edit-book-left-input-group">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="emailHelp"
               [(ngModel)]="book.title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author"
               [(ngModel)]="book.author">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" step="0.01"
               [(ngModel)]="book.price">
      </div>
    </div>
    <div class="col-sm-6 col-12 d-flex flex-column align-items-center">
      <img class="edit-book-cover"/>
      <label type="button" class="btn btn-primary mt-3" for="cover">
        Change cover   <i class="fas fa-upload ml-2"></i>
      </label>
      <input type="file" id="cover" class="d-none"/>
    </div>
  </div>
  <div class="row mx-0 mt-4 pt-3 border-top d-flex justify-content-center">
    <button type="submit" class="btn btn-success col-4">Submit</button>
  </div>
</div>
</div>
